body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

#gameboard {
    width: 300px;
    height: 300px;
    background-color: black;
    display: flex;
    flex-wrap: wrap;
    border:solid 1px black;
}

.square{
    width: 100px;
    height: 100px;
    background-color: white;
    border:solid 2px black;
    box-sizing: border-box;
}

.circle {
    height: 90px;
    width: 90px;
    border-radius: 50%;
    border:solid 15px blue;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cross {
    height: 90px;
    width: 90px;
    position: relative;
    transform: rotate(45deg);
}

.cross::before, .cross::after {
    content: "";
    position: absolute;
    background-color: red;
}

.cross::before {
    left: 50%;
    width: 30%;
    margin-left: -15%;
    height: 100%;
}

.cross::after {
    top: 50%;
    height: 30%;
    margin-top: -15%;
    width: 100%;
}

#buttoncir {
    background-color: rgb(209, 22, 6);
    border: none;
    border-radius: 4px;
    font-family: 'PT Sans',sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: rgba(255, 255, 255);
    padding: 5px 15px;
    position: absolute;
    justify-content: center;
    align-items: center;
    top: 15px;
}